
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.load-button{
  padding: 15px 30px;
  background: linear-gradient(#28809F, #293F9D);
  color: white;
  position: absolute;
  top: 250px;
  left: 400px;
}
