<div class="input-group">
  <input type="text" class="form-control" placeholder="Title">
  <input type="text" class="form-control" placeholder="Body">
  <button type="button" class="submit-button btn-default">Submit Post</button>
</div>
